.MainPageComponentSize{
  height: 100%;
  width: 100%;
}
 
 
 
 /* 할 일 목록 스타일 */
  .task-list {
    margin: 20px auto;    
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
    background: white;
  
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .task-list h2 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }
  
  .task-list ul {
    list-style: none;
    padding: 0;
  }
  
  .task-list li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  
  .task-list li:last-child {
    border-bottom: none;
  }


.todayPlan{
  width: 100%;
  height: calc(100% - 140px);
}

.getLine{
  border: 1px solid red;
}

  