
/* 캘린더 컴포넌트 스타일 */
.calendarComponentStyle {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;       /* 필요에 따라 row로 변경 가능 */
  align-items: center;          /* 수평 중앙 */
  text-align: center;
} 


  
  /* 캘린더 전체 박스 스타일 */
  .react-calendar {
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 20px;
  }
  
  /* 캘린더 타일(하나하나 날짜) 스타일 */
  .react-calendar__tile {
    height: 50px;
    font-size: 16px;
  }
  
  /* 오늘 날짜 표시 스타일 */
  .react-calendar__tile--now {
    background: #b3dcfc;
    border-radius: 8px;
  }
  
  

  .marked {
    background: #f1eed0; /* 노란색 배경 */
    border-radius: 20%;
    color: black;
  }


.getLine{
  border: 1px solid red;
}
